
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.center{
    display: flex;
    justify-content: center;
}
.main-color{
    color: green;
}
img{
    width:100%;
}
.main{
    flex-grow: 1
}
.logo:hover,
.logo:focus{
    text-decoration: none;
}
.filter{
    margin-bottom: 30px;
}
.product{
    margin-bottom: 30px;
}
.product-text{
    text-align: center;
}
.product-title{
    text-transform: uppercase;
    font: bold 18px/18px "Arial", sans-serif;
    transition: color 0.3s ease-out;
}
.product-title:hover,
.product-title:focus{
    color: #337ab7;
    text-decoration: none;
}
.product-img img{
    width: 100%;
}
.product-img{
    border-radius: 5px; 
    overflow: hidden;
    margin-bottom: 10px;
} 
.player{
    padding: 20px;
}
.player-box{
    padding: 10px;
    border-radius: 5px;
    background: gray;
    display: flex;
    align-items: center;
}
.player-icon-block{
    width: 50%;
}
.player-icon{
    border: none;
    padding: 10px;
    background-color: darkgrey;
    border-radius: 50%;
    margin-bottom: 5px;
    color: #fff;
}
.player-icon:first-child{
    padding: 10px 12px 10px 8px;
}
.player-icon:last-child{
    
    padding: 10px 8px 10px 12px;
}
.player-progress-bar-box{
    margin-bottom: 0;
}
.subscribe{
    padding: 20px;
}
.footer{
    margin-bottom: 0;
}
/*product page*/
.item-title{
    margin-bottom: 20px
}
.item-price{
    font: 16px Arial, sans-serif;
    margin-bottom: 20px;
}
.item-count{
    font: 14px Arial, sans-serif;
    margin-bottom: 20px;
}
.item-tabs{
    margin-bottom: 40px
}
.item-tab-content{
    padding-top: 20px;
}
.item-tab-comment-avatar{
    width: 50px;
    height: 50px;
}
/*form page*/
.form{
    margin-bottom: 40px;
}
.form-title{
    margin: 40px 0;
}
.form-checkbox{
    margin: 20px 0;
    position: static;
}
/*bootstrap reset*/
.pagination>li>.main-color,
.pagination>.main-color{
    color: green;
}

.form-inline .input-group{
    display: flex;
}
.input-group-addon{
    flex-basis: 50px;
}
.media{
    margin-bottom: 10px;
}
